.images {
    width: 100%;
    height: 250px;
    border-radius: 13px;
    display: flex;
    justify-content: space-between;
}

.allContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 15px;
}
.previews {
    display: flex;
    justify-content: space-between;
    align-items:end;
    font-weight: bolder;
    /* border: rgb(142, 184, 44) solid 3px; */
}

.previewWindow:hover {
    cursor: pointer;
    box-shadow: 1px 1px 8px 1px rgb(188, 178, 178);
    /* border: blue 3px solid; */
}

.previewWindow {
    border-radius: 13px
}

.previewImages {
    gap: 100px;
}

.delete1 {
    width: 70px;
}

.update {
    width: 70px;
    margin-right: 10px;

}