.deleteReviewModal {
    position: fixed;
    z-index: 1;
    left: calc(50% - 200px);
    top: calc(50% - 115px);
    width: 400px;
    height: 275px;
    overflow: auto;
    border-radius: 10px;
    background-color: white;
    border: black solid 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: cursive;
    font-size: 110%;
    gap: 10px;
}